<h5>【資料一覧】</h5>
  <table class="table">
    <tr>
	  <th>板書</th>
	  <th>タイトル</th>
	  <th>説明</th>
    </tr>
    <% @subject.blackboards.each do |blackboard| %>
    <tr>
	  <td><%= image_tag blackboard.material.url(:thumb) %></td>
	  <td><%= blackboard.title %></td>
	  <td><%= blackboard.description %></td>
    </tr>
    <% end %>
  </table>
