<p>
  <strong>Title:</strong>
  <%= @blackboard.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @blackboard.description %>
</p>

<%= link_to 'ファイル一覧に戻る', subject_blackboards_path %>
| <%= link_to 'ファイルを交換する', edit_subject_blackboard_path(@blackboard) %>
